doctype html
html
   head
      title = "¿Quiénes somos? "
      link(rel="stylesheet", href="/css/style.css")
   body
        section#quienes-somos
            h2 Quiénes Somos
                p
                    | Somos una empresa dedicada a proteger perritos.
                    | Contamos con un equipo comprometido para ofrecer los mejores servicios a nuestros perretes.


        include ./footer.pug
               