doctype html
html
   head
      title = "Home"
      link(rel="stylesheet", href="/css/style.css")
   body
        h2 Bienvenidos a nuestra pagina HOME
        img(src="/img/perro.gif" alt= "perrito"  width="300")

        include ./footer.pug    