doctype html
html
   head
      title = "¿Dónde Estamos?"
      link(rel="stylesheet", href="/css/style.css")
   body
    section#donde-estamos
    h2 Dónde Estamos
    p
        | Nos encontramos ubicados en Recoletos.
    p



include ./footer.pug